{% if site.function_type == 'default' or site.function_type == empty %}
<nav class="main-nav">
  {% assign navigation_pages = site.html_pages | sort: 'weight' %} 
  {% for p in navigation_pages | uniq %} 
    {% if p.weight %} 
      {% if p.url == page.url %}
        <a type="button" href="" class="sidebar-nav-item btn btn-outline-success disabled" style="font-size: {{ site.custom_theme.nav.font_size.nav }};">{{ p.title }}</a>
      {% else %}
        <a type="button" href="{{ p.url | prepend: site.baseurl }}" class="sidebar-nav-item btn btn-primary active" style="font-size: {{ site.custom_theme.nav.font_size.nav }};">{{ p.title }}</a>
      {% endif %} 
    {% endif %} 
  {% endfor %}
</nav>
{% endif %}
