{% if site.ads.google.enabled == true and site.ads.google.client and site.ads.google.slot %}
<!-- begin google ads block --->
<div class="ads">
  <script async defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-slot="{{ site.ads.google.slot }}"
    data-ad-format="{{ site.ads.google.format }}"
    data-ad-client="{{ site.ads.google.client }}"
  ></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  <br />
</div>
{% else %}
  <!-- Ads is disabled -->
  <!-- end google ads block --->
{% endif %}
