<div class="social-links" style="width: auto;align-items: center;">
{% if site.social_links.enabled == true %}
<!-- begin social links block --->
  <div>
    Social Links: <br />
    {% if site.social_links.rss %}
      <a href="{{ site.feed.path | prepend: site.baseurl }}"><i class="svg-icon rss"></i></a>
    {% endif %} 
    {% if site.social_links.github %}
      <a href="https://github.com/{{ site.social_links.github }}" target="_blank"><i class="svg-icon github"></i></a>
    {% endif %}
    {% if site.social_links.linkedin %}
      <a href="https://www.linkedin.com/in/{{ site.social_links.linkedin }}" target="_blank"><i class="svg-icon linkedin"></i></a>
    {% endif %} 
    {% if site.social_links.stackoverflow %}
      <a href="https://stackoverflow.com/users/{{ site.social_links.stackoverflow }}" target="_blank"><i class="svg-icon stackoverflow"></i></a>
    {% endif %}
    {% if site.social_links.twitter %}
      <a href="https://www.twitter.com/{{ site.social_links.twitter }}" target="_blank"><i class="svg-icon twitter"></i></a>
    {% endif %} 
    {% if site.social_links.youtube %}
      <a href="https://youtube.com/{{ site.social_links.youtube }}" target="_blank"><i class="svg-icon youtube"></i></a>
    {% endif %} 
    {% if site.social_links.dribbble %}
      <a href="https://dribbble.com/{{ site.social_links.dribbble }}" target="_blank"><i class="svg-icon dribbble"></i></a>
    {% endif %} 
    {% if site.social_links.facebook %}
      <a href="https://www.facebook.com/{{ site.social_links.facebook }}" target="_blank"><i class="svg-icon facebook"></i></a>
    {% endif %}
    {% if site.social_links.flickr %}
      <a href="https://www.flickr.com/{{ site.social_links.flickr }}" target="_blank"><i class="svg-icon flickr"></i></a>
    {% endif %}
    {% if site.social_links.instagram %}
      <a href="https://instagram.com/{{ site.social_links.instagram }}" target="_blank"><i class="svg-icon instagram"></i></a>
    {% endif %} 
    {% if site.social_links.pinterest %}
      <a href="https://www.pinterest.com/{{ site.social_links.pinterest }}" target="_blank"><i class="svg-icon pinterest"></i></a>
    {% endif %}
    {% if site.social_links.email %}
      <a href="mailto:{{ site.social_links.email }}" target="_blank"><i class="svg-icon email"></i></a>
      </div>
      <br />
    {% endif %}
  <!-- Social Links -->
  {% if site.options.sharethis == true %} 
    <div>
      Share This:<br />
      {% include casjaysdev/sharethis.html %} 
   </div>
    {% endif %}
    <!-- End Social Links-->
</div>
<!-- end social links block --->
{% endif %}
