{% if site.status_counter.enabled == true and site.status_counter.site_id %}
<!-- begin status counter block --->
<div class="statcounter">
  <script type="text/javascript">
    var sc_project = "{{ site.status_counter.site_id }}";
    var sc_invisible = 0;
    var sc_security = "{{ site.status_counter.site_code }}";
    var scJsHost = "https:" == document.location.protocol ? "https://secure." : "http://www.";
    document.write("<sc" + "ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");
  </script>
  <noscript>
    <div class="statcounter">
      <a title="web stats" href="https://statcounter.com/p{{ site.status_counter.site_id }}/summary/?guest=1" target="_blank"> <img class="statcounter" src="//c.statcounter.com/{{ site.status_counter.site_id }}/0/{{ site.status_counter.site_code }}/0/" alt="web stats"/></a>
    </div>
  </noscript>
</div>
<!-- end status counter block --->
{% endif %}
