@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

td,
th,
body {
  font-family: 'Fira Sans', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}

th {
  background-color: #333;
  color: #ffffff;
  border-top: 1px solid #678ca0;
  vertical-align: middle;
  height: 50px;
}

td {
  background-color: 333;
  border-top: 1px solid #678ca0;
}

.box {
  border: 1px solid #678ca0;
  padding: 0px;
  width: 100%;
  background-color: #333;
  margin-bottom: 10px;
  width: 600px;
}

h5,
h3 {
  padding: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #333;
  color: white;
  font-family: Verdana, Helvetica, sans-serif;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

h3 {
  font-size: 13px;
}

h5 {
  font-size: 10px;
  text-align: right;
  background-color: #333;
  color: #678ca0;
}

.spacer {
  margin: 0px;
  width: 100%;
  background-color: #333;
}

.leftspacer {
  margin: 0px;
  padding: 5px;
  width: 100%;
  text-align: left;
  background-color: #333;
}

.serviceup {
  color: green;
}

.servicedown {
  color: red;
}

p.main {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #5d83a9;
}

a:visited {
  color: rgb(238, 130, 202);
}

a:hover {
  font-style: italic;
  color: #a296db !important;
}

a:active {
  color: #c0f;
}

tr:hover {
  background-color: #f5f5f5;
}

table {
  width: 100%;
}
