<div class="container-fluid text-center align-items-center align-middle">
  <div class="head">
    <div class="row mt-3">
      <div class="col-lg-3">
        <a href="{{ site.baseurl }}"
          ><img src="{{ site.avatar }}" border="2"
        /></a>
      </div>
      <div class="col-lg-3 text-center align-items-center">
        <span>
          <h1 class="text-center align-items-center">.// {{ site.name }}</h1>
          <h2 class="text-center align-items-center">{{ site.description }}</h2>
          <h5 class="text-center align-items-center">{{ site.tagline }}</h5>
        </span>
        {% if site.custom_theme.nav.bar == true %}
        <nav>
          <br />
          <h4>{% include {{ site.custom_theme.nav.top }} %}</h4>
          <br />
        </nav>
        {% endif %} {% if site.github.show %}
        <div class="col-lg-3">{% include github.html %}</div>
        {% endif %}
      </div>
    </div>
    <hr
      style="
        width: 50%;
        margin-left: 25% !important;
        margin-right: 25% !important;
      "
    />
  </div>

  <br />
  {% if site.custom_theme.columns == "1" %}
  <div class="row align-items-center text-center align-middle">
    <div class="col-12">{{ content }}</div>
  </div>

  {% elsif site.custom_theme.columns == "2" %}
  <div class="row">
    <div class="col-med-3"></div>
    <div class="col-med-6">{{ content }}</div>
    <div class="col-med-3">{% include {{ site.custom_theme.nav.right }} %}</div>

    {% elsif site.custom_theme.columns == "3" %}
    <div class="row">
      <div class="col-med-3">
        {% include {{ site.custom_theme.nav.left }} %}
      </div>
      <div class="col-med-6">{{ content }}</div>
      <div class="col-med-3">
        {% include {{ site.custom_theme.nav.right }} %}
      </div>
    </div>

    {% else %}
    <div class="row">
      <h1 class="col-6">
        custom_theme/columns not set in _config.yml <br />
        Your theme settings in _config.yml are incorrect <br />
        Current columns: {{ site.custom_theme.columns }}
      </h1>
    </div>
  </div>
  {% endif %}
</div>
