<div class="container-fluid align-items-center text-center">
  {% include themes/{{ site.custom_theme.directory }}/page_header.html %}
  <br />
  {% if site.custom_theme.columns == "1" %}
  <div class="container">
    {{ content }}
  </div>

  {% elsif site.custom_theme.columns == "2" %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 order-md-12">
        </div>
        <div class="col-md-8">
          {{ content }}
          </div>
        <div class="col-md-2">
          {% include {{ site.custom_theme.nav.right }} %}
      </div>
    </div>
  {% elsif site.custom_theme.columns == "3" %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 order-md-12" style="text-align: left;">
          {% include {{ site.custom_theme.nav.left }} %}
        </div>
        <div class="col-md-8">
          {{ content }}
        </div>
        <div class="col-md-2" style="text-align: center;justify-content: right;">
          {% include {{ site.custom_theme.nav.right }} %}</div>
      </div>
    </div>
  {% else %}
    <div class="container-fluid text-center align-center">
      <div class="row">
        <h1 class="col-md-6">
          custom_theme/columns not set in _config.yml <br>
          Your theme settings in _config.yml are incorrect <br>
          Current columns: {{ site.custom_theme.columns }}
        </h1>
      </div>
    </div>
  {% endif %}
</div>
