<div class="container align-items-center text-center">
  <div class="row">
    <div class="col-3">
      <a href="{{ site.baseurl }}"><img src="{{ site.avatar }}" border="2" /></a>
    </div>
    <div class="col-6">
      <span class="">
        <h1>.// {{ site.name }}</h1>
        <h2>{{ site.description }}</h2>
        <h4>{{ site.tagline }}</h4>
      </span>

      {% if site.custom_theme.nav.bar == true %}
        <nav>
          <br />
          <h4>
            {% include {{ site.custom_theme.nav.top }} %}
          </h4>
        </nav>
      {% endif %}
    </div>
    {% if site.github.show %}
    <div class="col-3">
      {% include github.html %}
    </div>
    {% endif %}
    <hr class="hr" style="width: 100%; border: none;border-top: 3px double #dfdbdb;color: #949393;overflow: hidden;height: 5px;" />
  </div>

  <br />
  {% if site.custom_theme.columns == "1" %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ content }}
      </div>
    </div>
  </div>

  {% elsif site.custom_theme.columns == "2" %}
    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          {{ content }}
          </div>
        <div class="col-3">
          {% include {{ site.custom_theme.nav.right }} %}
      </div>
    </div>
  {% elsif site.custom_theme.columns == "3" %}
    <div class="container">
      <div class="row">
        <div class="col-3">
          {% include {{ site.custom_theme.nav.left }} %}
        </div>
        <div class="col-6">
          {% if site.function == default %}
            {{ content }}
          {% elsif site.function and static_file.path == '/_includes/functions/{{ site.function }}.html' %}
            {% include functions/{{ site.function }}.html %}
          {% else %}
            {{ content }}
          {% endif %}
        </div>
        <div class="col-3">
          {% include {{ site.custom_theme.nav.right }} %}</div>
      </div>
    </div>
  {% else %}
    <div class="container text-center align-center">
      <div class="row">
        <h1 class="col-md-6">
          custom_theme/columns not set in _config.yml <br>
          Your theme settings in _config.yml are incorrect <br>
          Current columns: {{ site.custom_theme.columns }}
        </h1>
      </div>
    </div>
  {% endif %}
</div>
