---
layout: null
search: exclude
permalink: /500.html
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <link rel="stylesheet" href="{{ site.error_pages.css_file | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ site.custom_theme.directory }}.css">
  {% if site.custom_theme.directory %}
    {% include casjays-header.html %}
  {% endif %}
  <title>Internal Server Error</title>
</head>

<body class="vh-100" onload="javascript:loadDomain();" style="font-size: {{ site.error_pages.font_size.default }};">
  <div class="container">
    <div class=" align-items-center text-center">
      <br />
      <div style="font-size: {{ site.error_pages.font_site.header }};">
        <span class="fa fa-ban red"></span>
        <a href="https://duckduckgo.com/?q=http+status+code+500" target="_blank">
          Internal Server Error
        </a>
        <br /><br />
      </div>
      <!! style="font-size: {{ site.error_pages.font_site.body }};" class="lead body-content">
        We are sorry but The web server is returningan internal error<br />
        Something is very broken!!<br />
        <img alt="error" height="400" width="400" src="{{ site.error_pages.error_image | prepend: site.baseurl }}"/>
      </div>
        <a onclick="javascript:homepage();" class="btn btn-lg btn-success"><span id="display-domain"></span></a><br />
        <br />
        {% if site.error_pages.show_fork == true %}
          <a class="github-fork-ribbon left-top" href="{{ site.github.repository_url }}/fork" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
        {% endif %}
        {% if site.error_pages.show_footer == true %}
          <div class="footer footer-custom col-sm-12">
            {% include {{ site.error_pages.footer_template }} %}
          </div><br /><br /><br /><br />
        {% endif %}
        <br /><br /><br />
    </div>
  </div>
</body>
</html>
