<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  {% include casjays-header.html %}
  {% if site.custom_theme.directory %}
    {% include themes/{{ site.custom_theme.directory }}/meta.html %}
  {% endif %}
</head>

<body class="text-center align-item-center" style="font-size: {{ site.custom_theme.nav.font_size.default }};">
  <div class="container">
    {% if site.custom_theme.directory %}
      {% include themes/{{ site.custom_theme.directory }}/layouts/default.html %}
    {% else %}
    <div>
      {{ content }}
    </div>
    {% endif %}
    <br />
    <br />
    <br />
    <br />
    <div class="footer footer-custom col-sm-12">
      {% include {{ site.custom_theme.footer }} %}
    </div>
    <br />
    <br />
    <br />
    <br />
  </div>
</body>

</html>
